list {
    border-right: 1px solid @borders;
    border-left: 1px solid @borders;
}

/* Main window - library page - manga cover */
.library-manga-name-label {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    padding: 20px 8px 4px 8px;
}

/* Main window - manga card page - chapters list */
.card-chapter-listboxrow {
    border-bottom: 1px solid @borders;
    padding: 6px 6px 12px 6px;
}
.card-chapter-label {
    font-size: 14px;
}
.card-chapter-label-started {
    color: @warning_color;
}

.card-chapter-sublabel {
    font-size: 10px;
}

.badge {
    color: #fff;
    background-color: #3399ff;
    padding: 0 .4em;
    border-radius: .25rem;
}

/* Main window - reader page */
.reader-controls-bottom-box {
    background: rgba(0, 0, 0, .75);
    color: #fff;
}

.reader-page-number-indicator-label {
    color: #fff;
    letter-spacing: 1px;
    /* bordered text */
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    margin-bottom: 8px;
}

/* Add dialog - servers page */
.add-dialog-server-listboxrow {
    padding: 16px;
}

.add-dialog-server-language-label {
    font-size: 11px;
}

/* Add dialog - search page */
.add-dialog-search-section-listboxrow {
    font-weight: bold;
    color: @insensitive_fg_color;
    background: @insensitive_bg_color;
}

/* Download manager dialog */
.download-manager-download-listboxrow {
    border-bottom: 1px solid #ccc;
    padding: 6px 6px 12px 6px;
}
.download-manager-download-label {
    font-size: 14px;
}
.download-manager-download-sublabel {
    font-size: 10px;
}
